
.container{
    width: 80%;
    margin: 0 auto;
    background-color: #fff8e6
}

.content{
    margin-bottom: 100px;
}

.header{
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
}

h1{
    font-family: Quando;
    font-size: 4vmax;
    text-align: left;
    color: #1a774c;
    margin: 0;
}
h2{
    font-family: Quando;
    color: #1a774c;
    text-decoration: underline;
    margin-bottom: 2px;
    display: inline;
}


h3{
    color: #666666;
    font-family: Quando;
    margin-top: 10px;
    margin-bottom: 2px;
}


p{
    color: #666666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-top: 2px;
}

a{
    color: #666666;
    font-family: Quando;
}

.tilde {
    font-size: 50px;
    letter-spacing: -19px;
    color: #917ae4;
}

.icon{
    padding-right: 1ch; 
    color: #e43c1e;
}

hr{
    color: #917ae4;
    border: 3px solid;
    border-radius: 3px;
}


.contacts{
    text-align: right; 
    vertical-align: top;
    width: 30vw;
    margin-right: 0;
    margin-left: auto;
    padding: 1em;
}
.contacts a{
    font-size: 1em;
}


@font-face {
    font-family: 'Quando';
    src: url('fonts/Quando-Regular.eot');
    src: url('fonts/Quando-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Quando-Regular.woff2') format('woff2'),
        url('fonts/Quando-Regular.woff') format('woff'),
        url('fonts/Quando-Regular.ttf') format('truetype'),
        url('fonts/Quando-Regular.svg#Quando-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
